<mat-toolbar>
    <span>SML System</span>
</mat-toolbar>
<div class="menubar">
    <div class="menu-items">
        <button mat-button [matMenuTriggerFor]="belowFile">File</button>
        <mat-menu #belowFile="matMenu" yPosition="below">
            <button mat-menu-item>New</button>
            <button mat-menu-item>Open</button>
            <button mat-menu-item>Save</button>
            <button mat-menu-item>Save As</button>
            <button mat-menu-item>Exit</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowView">View</button>
        <mat-menu #belowView="matMenu" yPosition="below">
            <button mat-menu-item>Toolbar</button>
            <button mat-menu-item>Status Bar</button>
        </mat-menu>

        <button mat-button>About Us</button>
    </div>
</div>