<app-toolbar></app-toolbar>

<div class="about-sml-container">
    <div class="card-container">
        <div class="about-sml-card card-item">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        ABOUT SML
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    This will be provided by prof kruger.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
