<app-menubar></app-menubar>

<div class="nonword-set-container">
    <div class="card-container">
        <div class="nonword-set-card card-item">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        CREATE CVCV AND/OR CVC NONWORD SETS
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Some info on cvcv and cvc nonword sets.
                </mat-card-content>
                <!-- <mat-card-actions class="action-buttons">
                    <button mat-button>Create Nonword Set</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
</div>