.nonword-set-container {
    display: flex;
    justify-content: center;
}

.card-container {
    margin-top: 40px;
    display: flex;
    padding: 40px;
    background-color: #c3d8e7;
    width: 100%;
    justify-content: center;
}

.card-item {
    width: 1250px;
    position: relative;
}

mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons {
    position: absolute;
    padding: 10px;
    bottom: 10px; 
    right: 10px; 
}